#
# Bacula File Daemon Configuration file
#
#  For Bacula release 7.0.5 (28 July 2014) -- ubuntu 16.04
#

#
# List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{ backup_dir }}
  Password = "{{ backup_dir_pwd }}"
}

#
# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
#
Director {
  Name = {{ backup_mon }}
  Password = "{{ backup_mon_pwd }}"
  Monitor = yes
}

#
# "Global" File daemon configuration specifications
#
FileDaemon {
  Name = {{ hostname_name }}-fd
  FDport = 9102
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
  FDAddress = {{ ansible_ssh_host }}
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = backup-dir = all, !skipped, !restored
}
