[Unit]
Description=Jenkins Slave

[Service]
User={{ user }}
WorkingDirectory={{ jenkins_home }}
ExecStart=/usr/bin/java -Xmx256m -jar {{ swarm_file }} -master {{ jenkins_url }} -username {{jenkins_user}} -password {{jenkins_pass}} -labels "{{ lookup('env', 'SLAVE_LABEL') }}" -executors 5
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
